{% extends 'base.html.twig' %}

{% block title %}Formulaire sans litige
{% endblock %}

{% block body %}
	{% set csrfTokenSansLitige = csrf_token('form-sans-litige') %}
	{% for message in app.flashes('notice') %}
		<div id="message">
			<div class="flash-notice">
				<p class="text-success my-3 fs-1 mx-2 fw-bold text-center">{{ message }}</p>
			</div>
			<div class='d-flex justify-content-center'>
				<button type="submit" class="btn btn-outline-success border-3 rounded-5" onclick="(removeMessage())">
					<span class='fs-2 fw-bold p-2'>OK!</span>
				</button>
			</div>
		</div>
	{% endfor %}
	<h1 class="text-white my-5 fs-1 mx-2 fw-normal text-center">Reception
		{{ numretour }}
		sans litige</h1>
	<form method="post" action="{{ path('app_formulaire_sans_litige', {'id': id}) }}">
		<div class="m-3">
			<label for="transporteur-form-sans-litige" class="form-label">
				<span class='fs-1 fw-normal text-warning'>Transporteur</span>
			</label>
			<select class="form-select w-75 fs-1 fw-normal border-dark border-2" id="transporteur-form-sans-litige" name="transporteur-form-sans-litige">
				<option value="{{ transporteur }}" class='fs-1 fw-normal'>{{ transporteur }}</option>
				<option value="shenker" class='fs-1 fw-normal'>shenker</option>
				<option value="dpd" class='fs-1 fw-normal'>dpd</option>
				<option value="mazet" class='fs-1 fw-normal'>mazet</option>
				<option value="geodis" class='fs-1 fw-normal'>geodis</option>
				<option value="gls" class='fs-1 fw-normal'>gls</option>
			</select>
		</div>
		{% for retourProduit in retourProduits %}
			<div class='border rounded-3 border-warning border-2 mx-1 my-4'>
				<div class='d-flex justify-content-center flex-column'>
					<div class='d-flex justify-content-center'>
						<button type="button" class="btn btn-outline-warning mt-5 mb-2 border-2 rounded-5" onclick="load_quagga({{ retourProduit.id }})">
							<span class='fs-2 fw-normal'>Scan produit</span>
						</button>
					</div>
					<div class='d-flex justify-content-center'>
						<div id='scan_{{ retourProduit.id }}' class='d-flex justify-content-center flex-column scan mt-3'></div>
					</div>
				</div>
				<div class="m-3">
					<label for="id-form-sans-litige_{{ retourProduit.id }}" class="form-label">
						<span class='fs-1 fw-normal text-warning'>ID produit</span>
					</label>
					<input type="number" class="form-control fs-1 fw-normal border-dark border-2" id="id-form-sans-litige_{{ retourProduit.id }}" placeholder="{{ retourProduit.idproduit }}" name="id-form-sans-litige_{{ retourProduit.id }}">
				</div>
				<div class="m-3">
					<label for="code-couleur-form-sans-litige_{{ retourProduit.id }}" class="form-label">
						<span class='fs-1 fw-normal text-warning'>Code couleur</span>
					</label>
					<select class="form-select w-75 fs-1 fw-normal border-dark border-2" id="code-couleur-form-sans-litige_{{ retourProduit.id }}" name="code-couleur-form-sans-litige_{{ retourProduit.id }}">
						<option value="vert" class='fs-1 fw-normal'>vert</option>
						<option value="jaune" class='fs-1 fw-normal'>jaune</option>
						<option value="orange" class='fs-1 fw-normal'>orange</option>
						<option value="rouge" class='fs-1 fw-normal'>rouge</option>
						<option value="noir" class='fs-1 fw-normal'>noir</option>
					</select>
				</div>
				<div class="m-3">
					<div class="form-group">
						<label for="quantite-form-sans-litige_{{ retourProduit.id }}">
							<span class='fs-1 fw-normal text-warning'>Quantité</span>
						</label>
						<input type="number" min="1" class="form-control fs-1 fw-normal border-dark border-2" id="quantite-form-sans-litige_{{ retourProduit.id }}" placeholder="{{ retourProduit.quantite }}" name="quantite-form-sans-litige_{{ retourProduit.id }}"/>
					</div>
				</div>
				<div class='ms-3 my-5 d-flex justify-content-center'>
					<button type="button" class="btn btn-outline-warning border-2 rounded-5" onclick="supprimerProduit(event)">
						<span class='fs-2 fw-normal'>Supprimer</span>
					</button>
				</div>
			</div>
		{% endfor %}
		<div id="ajoutProduit"></div>
		<div class="d-flex justify-content-center my-5">
			<button type="button" class="btn btn-outline-warning border-2 rounded-5" onclick="ajoutProduit()">
				<span class='fs-2 fw-normal'>Ajouter produit</span>
			</button>
		</div>
		<div class='my-5 d-flex justify-content-center'>
			<button type="submit" class="btn btn-outline-warning border-2 rounded-5">
				<span class='fs-2 fw-normal'>Enregistrer</span>
			</button>
		</div>
        <input type="hidden" name="_token" value="{{ csrfTokenSansLitige }}">
	</form>
	<script type="text/javascript">
		let compteurSans = 0;
function ajoutProduit() {
let container = document.createElement('div');
container.className = 'border rounded-3 border-warning border-2 m-1 mx-1 my-4';
container.innerHTML = `
        <div class='d-flex justify-content-center flex-column m-3'>
					<div class='d-flex justify-content-center'>
						<button type="button" class="btn btn-outline-warning mt-5 mb-2 border-2 rounded-5" onclick="load_quagga_on_add_product_sans(${compteurSans})">
							<span class='fs-2 fw-normal'>Scan produit</span>
						</button>
					</div>
					<div class='d-flex justify-content-center'>
						<div id='scan_${compteurSans}' class='d-flex justify-content-center flex-column scan mt-3'></div>
					</div>
				</div>
        <div class="m-3">
        <label for="id-form-sans-litige" class="form-label">
					<span class='fs-1 fw-normal text-warning'>ID produit</span>
				</label>
				<input type="number" class="form-control fs-1 fw-normal border-dark border-2" id="id-form-sans-litige_${compteurSans}" placeholder="id" name="id-form-sans-litige[]">
			</div>
			<div class="m-3">
				<label for="code-couleur-form-sans-litige" class="form-label">
					<span class='fs-1 fw-normal text-warning'>Code couleur</span>
				</label>
				<select class="form-select w-75 fs-1 fw-normal border-dark border-2" id="code-couleur-form-sans-litige" name="code-couleur-form-sans-litige[]">
					<option value="vert" class='fs-1 fw-normal'>vert</option>
					<option value="jaune" class='fs-1 fw-normal'>jaune</option>
					<option value="orange" class='fs-1 fw-normal'>orange</option>
					<option value="rouge" class='fs-1 fw-normal'>rouge</option>
					<option value="noir" class='fs-1 fw-normal'>noir</option>
				</select>
			</div>
			<div class="m-3">
				<div class="form-group">
					<label for="quantite-form-sans-litige">
						<span class='fs-1 fw-normal text-warning'>Quantité</span>
					</label>
					<input type="number" min="1" class="form-control fs-1 fw-normal border-dark border-2" id="quantite-form-sans-litige" placeholder="1" name="quantite-form-sans-litige[]"/>
				</div>
			</div>
        <div class='ms-3 my-5 d-flex justify-content-center'>
            <button type="button" class="btn btn-outline-warning border-2 rounded-5" onclick="supprimerProduit(event)">
                <span class='fs-2 fw-normal'>Supprimer</span>
            </button>
        </div>
    `;

// Ajoutez le conteneur au formulaire
let formulaire = document.getElementById('ajoutProduit');
formulaire.appendChild(container);
compteurSans--;
}
function supprimerProduit(event) { // Récupérer l'élément parent du bouton sur lequel on a cliqué
var produitElement = event.target.closest('.border');

// Supprimer l'élément parent
produitElement.remove();
}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>
	<script type="text/javascript">
		function load_quagga(idInput) {
if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
Quagga.init({
inputStream: {
name: "Live",
type: "LiveStream",
target: document.querySelector('#scan_' + idInput)
},
decoder: {
readers: ["ean_reader"]
}
}, function (err) {
if (err) {
console.log(err);
return
}
console.log("Initialization finished. Ready to start");
Quagga.start();
});
Quagga.onDetected(function (data) {
document.querySelector('#id-form-sans-litige_' + idInput).value = data.codeResult.code;
Quagga.stop();
});
}
}
function load_quagga_on_add_product_sans(compteurSans) {
if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
Quagga.init({
inputStream: {
name: "Live",
type: "LiveStream",
target: document.querySelector('#scan_' + compteurSans)
},
decoder: {
readers: ["ean_reader"]
}
}, function (err) {
if (err) {
console.log(err);
return
}
console.log("Initialization finished. Ready to start");
Quagga.start();
});
Quagga.onDetected(function (data) {
document.querySelector('#id-form-sans-litige_' + compteurSans).value = data.codeResult.code;
Quagga.stop();
});
}
}
function removeMessage() {
var eltMessage = document.querySelector('#message')
eltMessage.remove()
}
	</script>
{% endblock %}
