{% extends 'base.html.twig' %}

{% block title %}Listes attendus et sans attendus
{% endblock %}

{% block body %}
	<h1 class="text-white my-5 fs-1 fw-bold text-center">recherche attendus ou sans attendus</h1>
	<div class="border border-2 border-primary mx-1 rounded-3">
		{{ form_start(form) }}
		<div class='m-1'>
			{{ form_label(form.numRetour, 'N° RET, RETSA, NT', {'label_attr': {'class': 'form-label text-white fs-3 fw-bold fs-1'}}) }}
			{{ form_widget(form.numRetour) }}
		</div>
		<div class='m-1'>
			{{ form_label(form.prenomClient, 'Prénom client', {'label_attr': {'class': 'form-label text-white fs-3 fw-bold fs-1'}}) }}
			{{ form_widget(form.prenomClient) }}
		</div>
		<div class='m-1'>
			{{ form_label(form.nomClient, 'Nom client', {'label_attr': {'class': 'form-label text-white fs-3 fw-bold fs-1'}}) }}
			{{ form_widget(form.nomClient) }}
		</div>
		<div class='m-1'>
			{{ form_label(form.transporteur, 'Transporteur', {'label_attr': {'class': 'form-label text-white fs-3 fw-bold fs-1'}}) }}
			{{ form_widget(form.transporteur) }}
		</div>
		<div class='d-flex justify-content-center'>
			<button type="submit" class="btn btn-outline-primary my-3 border-3">
				<span class='fs-2 fw-bold p-1'>Recherche</span>
			</button>
		</div>
		{{ form_end(form) }}
	</div>
	<h2 class="text-white my-5 fs-1 fw-bold text-center">résultats attendus/sans attendus</h2>
	{% for retour in retours %}
		<div class="d-flex justify-content-center">
			<div>
				<div class="card m-1 border-primary border-3">
					<div class="card-body">
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ retour.numretour }}</span>
						</p>
						{% if retour.bordereau is defined and retour.bordereau.numbordereau is defined %}
							<p class="card-text m-0">
								<span class='fs-2 fw-normal'>{{ retour.bordereau.numbordereau }}</span>
							</p>
						{% else %}
							<p class="card-text m-0">
								<span class='fs-2 fw-normal'>pas de bordereau.</span>
							</p>
						{% endif %}
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ retour.prenomclient}}
								{{ retour.nomclient}}</span>
						</p>
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ retour.transporteur }}</span>
						</p>
						{% for retourProduit in retour.retourProduits %}
							<p class="card-text m-0">
								<span class='fs-1 fw-normal'>{{ retourProduit.idproduit }}
									*
									{{ retourProduit.quantite }}</span>
							</p>
						{% endfor %}
						<div class='d-flex flex-row'>
							<div>
								<button type="button" class="btn btn-outline-primary m-2 border-2">
									<a href="{{ path('app_formulaire_litige', {'id': retour.id}) }}">
										<span class='fs-2 fw-bold'>Avec litige</span>
									</a>
								</button>
							</div>
							<div>
								<button type="button" class="btn btn-outline-primary m-2 border-2">
									<a href="{{ path('app_formulaire_sans_litige', {'id': retour.id}) }}">
										<span class='fs-2 fw-bold'>Sans litige</span>
									</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
