{% extends 'base.html.twig' %}

{% block title %}Listes attendus et sans attendus
{% endblock %}

{% block body %}
	<h1 class="text-white my-5 fs-1 fw-normal text-center mx-2">recherche attendus ou sans attendus</h1>
	<div class="d-flex justify-content-center">
		<div class="border border-2 border-warning mx-1 rounded-4 d-flex flex-column input-desktop">
			{{ form_start(form) }}
			<div class='m-2 d-flex justify-content-center'>
				{{ form_label(form.numRetour, 'N° RET, RETSA, NT', {'label_attr': {'class': 'form-label text-warning fs-3 fw-normal'}}) }}
			</div>
			<div class='m-2 d-flex justify-content-center'>
				{{ form_widget(form.numRetour) }}
			</div>
			<div class='m-2 d-flex justify-content-center'>
				{{ form_label(form.prenomClient, 'Prénom client', {'label_attr': {'class': 'form-label text-warning fs-3 fw-normal'}}) }}
			</div>
			<div class='m-2 d-flex justify-content-center'>
				{{ form_widget(form.prenomClient) }}
			</div>
			<div class='m-2 d-flex justify-content-center'>
				{{ form_label(form.nomClient, 'Nom client', {'label_attr': {'class': 'form-label text-warning fs-3 fw-normal'}}) }}
			</div>
			<div class='m-2 d-flex justify-content-center'>
				{{ form_widget(form.nomClient) }}
			</div>
			<div class='m-2 d-flex justify-content-center'>
				{{ form_label(form.transporteur, 'Transporteur', {'label_attr': {'class': 'form-label text-warning fs-3 fw-normal'}}) }}
			</div>
			<div class='m-2 d-flex justify-content-center'>
				{{ form_widget(form.transporteur) }}
			</div>
			<div class='d-flex justify-content-center'>
				<button type="submit" class="btn btn-outline-warning my-3 border-2 rounded-5">
					<span class='fs-2 fw-normal'>Recherche</span>
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
	<h2 class="text-white my-5 fs-1 fw-normal text-center mx-2">résultats attendus / sans attendus</h2>
	{% for retour in listeRetours %}
		<div class="d-flex justify-content-center">
			<div>
				<div class="card my-3 border-primary border-3 custom-width-desktop">
					<div class="card-body">
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ retour.numretour }}</span>
						</p>
						{% if retour.bordereau is defined and retour.bordereau.numbordereau is defined %}
							<p class="card-text m-0">
								<span class='fs-2 fw-normal'>{{ retour.bordereau.numbordereau }}</span>
							</p>
						{% else %}
							<p class="card-text m-0">
								<span class='fs-2 fw-normal'>pas de bordereau.</span>
							</p>
						{% endif %}
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ retour.prenomclient}}
								{{ retour.nomclient}}</span>
						</p>
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ retour.transporteur }}</span>
						</p>
						{% for retourProduit in retour.retourProduits %}
							<p class="card-text m-0">
								<span class='fs-1 fw-normal'>{{ retourProduit.idproduit }}
									*
									{{ retourProduit.quantite }}</span>
							</p>
						{% endfor %}
						<div class='d-flex flex-row justify-content-center'>
							<div>
								<button type="button" class="btn btn-outline-primary m-2 border-2 rounded-5">
									<a href="{{ path('app_formulaire_litige', {'id': retour.id}) }}">
										<span class='fs-2 fw-normal'>Avec litige</span>
									</a>
								</button>
							</div>
							<div>
								<button type="button" class="btn btn-outline-primary m-2 border-2 rounded-5">
									<a href="{{ path('app_formulaire_sans_litige', {'id': retour.id}) }}" class='fs-2 fw-normal'>
										Sans litige
									</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %} 
    {# {% for item in data %}
    <div class="d-flex justify-content-center">
			<div>
				<div class="card my-3 border-primary border-3 custom-width-desktop">
					<div class="card-body">
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ item.retour.numero_retour }}</span>
						</p>
						{% if retour.bordereau is defined and retour.bordereau.numbordereau is defined %}
							<p class="card-text m-0">
								<span class='fs-2 fw-normal'>{{ retour.bordereau.numbordereau }}</span>
							</p>
						{% else %} 
							<p class="card-text m-0">
								<span class='fs-2 fw-normal'>pas de bordereau.</span>
							</p>
						{% endif %}
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ item.retour.prenom_client}}
								{{ item.retour.nom_client}}</span>
						</p>
						<p class="card-text m-0">
							<span class='fs-1 fw-normal'>{{ item.retour.transporteur }}</span>
						</p>
						{% for retourProduit in item.produits %}
							<p class="card-text m-0">
								<span class='fs-1 fw-normal'>{{ retourProduit.id_produit }}
									*
									{{ retourProduit.quantite }}</span>
							</p>
						{% endfor %}
						<div class='d-flex flex-row justify-content-center'>
							<div>
								<button type="button" class="btn btn-outline-primary m-2 border-2 rounded-5">
									<a href="{{ path('app_formulaire_litige', {'id': item.retour.id_commande}) }}">
										<span class='fs-2 fw-normal'>Avec litige</span>
									</a>
								</button>
							</div>
							<div>
								<button type="button" class="btn btn-outline-primary m-2 border-2 rounded-5">
									<a href="{{ path('app_formulaire_sans_litige', {'id': item.retour.id_commande}) }}" class='fs-2 fw-normal'>
										Sans litige
									</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    {% endfor %}   #}
{% endblock %}
