{% extends 'base.html.twig' %}

{% block title %}Formulaire litige
{% endblock %}

{% block body %}
	{% set csrfTokenLitige = csrf_token('form-litige') %}
	{% for message in app.flashes('notice') %}
		<div id="message">
			<div class="flash-notice">
				<p class="text-success my-3 fs-3 mx-2 fw-normal text-center">{{ message }}</p>
			</div>
			<div class='d-flex justify-content-center'>
				<button type="submit" class="btn btn-outline-success border-3 rounded-5" onclick="(removeMessage())">
					<span class='fs-3 fw-normal p-3'>OK!</span>
				</button>
			</div>
		</div>
	{% endfor %}
	<h1 class="text-white my-5 mx-2 fs-3 fw-normal text-center">Reception
		{{ numretour }}
		avec litige</h1>
	<form method="post" enctype="multipart/form-data" action="{{ path('app_formulaire_litige', {'id': id}) }}">
		<div class="accordion mx-1 border border-4 border-dark rounded-3 input-desktop" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Photo 1
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class='d-flex justify-content-center flex-column my-3'>
							{% if photo1 %}
								<p class='fs-3 fw-normal text-center'>la photo 1 est déjà prise</p>
							{% endif %}
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="openCamera(1)">
									<span class='fs-3 fw-normal'>Ouvrir caméra</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="closeCamera(1)">
									<span class='fs-3 fw-normal'>Fermer caméra</span>
								</button>
							</div>
							<div class="scan d-flex justify-content-center">
								<video id="video1" width="640" height="480"></video>
								<canvas id="canvas1" width="640" height="480" style="display: none;"></canvas>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="takePhoto(1)">
									<span class='fs-3 fw-normal'>Prendre photo</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<img src="" alt="photo" id="photo-bordereau1" style="display: none;"/>
							</div>
							<div class="input-group">
								<input type="file" accept="image/*" capture="camera" id="photoInput1" class="form-control m-0" name="photo1"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Photo 2
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class='d-flex justify-content-center flex-column my-3'>
							{% if photo2 %}
								<p class='fs-3 fw-normal text-center'>la photo 2 est déjà prise</p>
							{% endif %}
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="openCamera(2)">
									<span class='fs-3 fw-normal'>Ouvrir caméra</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="closeCamera(2)">
									<span class='fs-3 fw-normal'>Fermer caméra</span>
								</button>
							</div>
							<div class="scan d-flex justify-content-center">
								<video id="video2" width="640" height="480"></video>
								<canvas id="canvas2" width="640" height="480" style="display: none;"></canvas>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="takePhoto(2)">
									<span class='fs-3 fw-normal'>Prendre photo</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<img src="" alt="photo" id="photo-bordereau2" style="display: none;"/>
							</div>
							<div class="input-group">
								<input type="file" accept="image/*" capture="camera" id="photoInput2" class="form-control m-0" name="photo2"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Photo 3
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class='d-flex justify-content-center flex-column my-3'>
							{% if photo3 %}
								<p class='fs-3 fw-normal text-center'>la photo 3 est déjà prise</p>
							{% endif %}
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="openCamera(3)">
									<span class='fs-3 fw-normal'>Ouvrir caméra</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="closeCamera(3)">
									<span class='fs-3 fw-normal'>Fermer caméra</span>
								</button>
							</div>
							<div class="scan d-flex justify-content-center">
								<video id="video3" width="640" height="480"></video>
								<canvas id="canvas3" width="640" height="480" style="display: none;"></canvas>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="takePhoto(3)">
									<span class='fs-3 fw-normal'>Prendre photo</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<img src="" alt="photo" id="photo-bordereau3" style="display: none;"/>
							</div>
							<div class="input-group">
								<input type="file" accept="image/*" capture="camera" id="photoInput3" class="form-control m-0" name="photo3"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						Photo 4
					</button>
				</h2>
				<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class='d-flex justify-content-center flex-column my-3'>
							{% if photo4 %}
								<p class='fs-3 fw-normal text-center'>la photo 4 est déjà prise</p>
							{% endif %}
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="openCamera(4)">
									<span class='fs-3 fw-normal'>Ouvrir caméra</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="closeCamera(4)">
									<span class='fs-3 fw-normal'>Fermer caméra</span>
								</button>
							</div>
							<div class="scan d-flex justify-content-center">
								<video id="video4" width="640" height="480"></video>
								<canvas id="canvas4" width="640" height="480" style="display: none;"></canvas>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="takePhoto(4)">
									<span class='fs-3 fw-normal'>Prendre photo</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<img src="" alt="photo" id="photo-bordereau4" style="display: none;"/>
							</div>
							<div class="input-group">
								<input type="file" accept="image/*" capture="camera" id="photoInput4" class="form-control m-0" name="photo4"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						Photo 5
					</button>
				</h2>
				<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class='d-flex justify-content-center flex-column my-3'>
							{% if photo5 %}
								<p class='fs-3 fw-normal text-center'>la photo 5 est déjà prise</p>
							{% endif %}
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="openCamera(5)">
									<span class='fs-3 fw-normal'>Ouvrir caméra</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="closeCamera(5)">
									<span class='fs-3 fw-normal'>Fermer caméra</span>
								</button>
							</div>
							<div class="scan d-flex justify-content-center">
								<video id="video5" width="640" height="480"></video>
								<canvas id="canvas5" width="640" height="480" style="display: none;"></canvas>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<button type="button" class="btn btn-outline-dark border-2 rounded-5" onclick="takePhoto(5)">
									<span class='fs-3 fw-normal'>Prendre photo</span>
								</button>
							</div>
							<div class="my-3 d-flex justify-content-center">
								<img src="" alt="photo" id="photo-bordereau5" style="display: none;"/>
							</div>
							<div class="input-group">
								<input type="file" accept="image/*" capture="camera" id="photoInput5" class="form-control m-0" name="photo5"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="d-flex flex-column justify-content-center">
				<div class="m-1 d-flex justify-content-center flex-column">
					<label for="transporteur-form-litige" class="form-label">
						<span class='fs-3 fw-normal text-warning'>Transporteur</span>
					</label>
					<select class="form-select fs-3 fw-normal border-dark border-2" id="transporteur-form-litige" name="transporteur-form-litige">
						<option value="{{ transporteur }}" class='fs-3 fw-normal'>{{ transporteur }}</option>
						<option value="shenker" class='fs-3 fw-normal'>shenker</option>
						<option value="dpd" class='fs-3 fw-normal'>dpd</option>
						<option value="mazet" class='fs-3 fw-normal'>mazet</option>
						<option value="geodis" class='fs-3 fw-normal'>geodis</option>
						<option value="gls" class='fs-3 fw-normal'>gls</option>
                        <option value="vir" class='fs-3 fw-normal'>vir</option>
					</select>
				</div>
				<div class="m-1 d-flex justify-content-center flex-column">
					<label for="etat-form-litige" class="form-label">
						<span class='fs-3 fw-normal text-warning'>Etat du colis</span>
					</label>
					<select class="form-select fs-3 fw-normal border-dark border-2" id="etat-form-litige" name="etat-form-litige">
						<option value="{{ etat }}" class='fs-3 fw-normal'>{{ etat }}</option>
						<option value="ouvert" class='fs-3 fw-normal'>ouvert</option>
						<option value="manquant" class='fs-3 fw-normal'>manquant</option>
						<option value="déchiré" class='fs-3 fw-normal'>déchiré</option>
						<option value="troué" class='fs-3 fw-normal'>troué</option>
						<option value="pas d'info" class='fs-3 fw-normal'>pas d'info</option>
					</select>
				</div>
				<div class="m-1 d-flex justify-content-center flex-column">
					<label for="etat-produit-form-litige" class="form-label">
						<span class='fs-3 fw-normal text-warning'>Etat du produit</span>
					</label>
					<select class="form-select fs-3 fw-normal border-dark border-2" id="etat-produit-form-litige" name="etat-produit-form-litige">
						<option value="{{ etatProduit }}" class='fs-3 fw-normal'>{{ etatProduit }}</option>
						<option value="pièce manquante" class='fs-3 fw-normal'>pièce manquante</option>
						<option value="abimé" class='fs-3 fw-normal'>abimé</option>
						<option value="pas d'info" class='fs-3 fw-normal'>pas d'info</option>
					</select>
				</div>
				<div class="m-1 d-flex justify-content-center flex-column">
					<label for="commentaire-form-litige">
						<span class='fs-3 fw-normal text-warning'>Commentaires</span>
					</label>
					<textarea class="form-control fs-3 fw-normal mt-3 border-dark border-2" id="commentaire-form-litige" name="commentaire-form-litige" rows="5" cols="33">{{ commentaire }}</textarea>
				</div>
			</div>
		</div>
		{% for retourProduit in retourProduits %}
			<div class="d-flex justify-content-center">
				<div class='border rounded-3 border-warning border-2 mx-1 my-4 custom-width-desktop'>
					<div class='d-flex justify-content-center flex-column'>
						<div class='d-flex justify-content-center'>
							<button type="button" class="btn btn-outline-warning mt-5 mb-2 border-2 rounded-5" onclick="load_quagga({{ retourProduit.id }})">
								<span class='fs-3 fw-normal'>Scan produit</span>
							</button>
						</div>
						<div class='d-flex justify-content-center'>
							<div id='scan_{{ retourProduit.id }}' class='d-flex justify-content-center flex-column scan mt-3'></div>
						</div>
					</div>
					<div class="m-3 d-flex justify-content-center flex-column">
						<label for="id-form-litige_{{ retourProduit.id }}" class="form-label">
							<span class='fs-3 fw-normal text-warning'>ID produit</span>
						</label>
						<input type="number" class="form-control fs-3 fw-normal border-dark border-2 input-desktop" id="id-form-litige_{{ retourProduit.id }}" name="id-form-litige_{{ retourProduit.id }}" required value="{{ retourProduit.idproduit }}">
					</div>
					{% for i in 1..retourProduit.quantite %}
						{# <div class="m-3 d-flex justify-content-center flex-column">
							<label for="code-couleur-form-litige_{{ i }}" class="form-label">
								<span class='fs-3 fw-normal text-warning'>Couleur produit
									{{ i }}</span>
							</label>
							<select class="form-select w-75 fs-3 fw-normal border-dak border-2" id="code-couleur-form-litige_{{ i }}" name="code-couleur-form-litige_{{ i }}" required>
								<option value="vert" class='fs-3 fw-normal'>vert</option>
								<option value="jaune" class='fs-3 fw-normal'>jaune</option>
								<option value="orange" class='fs-3 fw-normal'>orange</option>
								<option value="rouge" class='fs-3 fw-normal'>rouge</option>
								<option value="noir" class='fs-3 fw-normal'>noir</option>
								<option value="pas-de-produit" class='fs-3 fw-normal'>pas de produit</option>
							</select>
						</div> #}
                        <div class="m-3">
							<label for="form-litige-palette_{{ retourProduit.idproduit }}_{{ i }}" class="form-label">
								<span class='fs-3 fw-normal text-warning'>Palette produit {{ i }}</span>
							</label>
							<select class="form-select w-100 fs-3 fw-normal border-dark border-3 rounded-3" id="form-litige-palette_{{ retourProduit.idproduit }}_{{ i }}" name="form-litige-palette_{{ retourProduit.idproduit }}_{{ i }}" required>
								{% for palette in palettes %}
									<option value="{{ palette.id }}" class='fs-3 fw-normal'>N°{{ palette.id }}
										{{ palette.codeCouleur }}</option>
								{% endfor %}
                                <option value="pas-de-produit" class='fs-3 fw-normal'>pas de produit</option>
							</select>
						</div>
					{% endfor %}
					<div class='my-5 d-flex justify-content-center'>
						<button type="button" class="btn btn-outline-warning border-2 rounded-5" onclick="supprimerProduit(event)">
							<span class='fs-3 fw-normal'>Supprimer</span>
						</button>
					</div>
				</div>
			</div>
		{% endfor %}
		<div id="ajoutProduit"></div>
		<div class="d-flex justify-content-center my-5">
			<button type="button" class="btn btn-outline-warning border-2 rounded-5" onclick="ajoutProduit()">
				<span class='fs-3 fw-normal'>Ajouter produit</span>
			</button>
		</div>
		<div class='my-5 d-flex justify-content-center'>
			<button type="submit" class="btn btn-outline-warning border-2 rounded-5">
				<span class='fs-3 fw-normal'>Enregistrer</span>
			</button>
		</div>
		<input type="hidden" name="_token" value="{{ csrfTokenLitige }}">
	</form>
	<script type="text/javascript">
		let compteur = 0;
function ajoutProduit() {
let container = document.createElement('div');
container.className = 'd-flex justify-content-center';
container.innerHTML = `
<div class="border rounded-3 border-warning border-2 mx-1 my-4 custom-width-desktop">
        <div class='d-flex justify-content-center flex-column m-3'>
					<div class='d-flex justify-content-center'>
						<button type="button" class="btn btn-outline-warning mt-5 mb-2 border-2 rounded-5" onclick="load_quagga_on_add_product(${compteur})">
							<span class='fs-3 fw-normal'>Scan produit</span>
						</button>
					</div>
					<div class='d-flex justify-content-center'>
						<div id='scan_${compteur}' class='d-flex justify-content-center flex-column scan mt-3'></div>
					</div>
				</div>
        <div class="m-3">
        <label for="id-form-litige_${compteur}" class="form-label">
					<span class='fs-3 fw-normal text-warning'>ID produit</span>
				</label>
				<input type="number" class="form-control fs-3 fw-normal border-dark border-2" id="id-form-litige_${compteur}" placeholder="id" name="id-form-litige[]" required>
			</div>
			<div class="m-3">
							<label for="form-litige-palette_${compteur}" class="form-label">
								<span class='fs-3 fw-normal text-warning'>Palette produit</span>
							</label>
							<select class="form-select w-100 fs-3 fw-normal border-dark border-3 rounded-3" id="form-litige-palette_${compteur}" name="form-litige-palette[]" required>				
									{% for palette in palettes %}
									<option value="{{ palette.id }}" class='fs-3 fw-normal'>N°{{ palette.id }}
										{{ palette.codeCouleur }}</option>
								{% endfor %}		
                                <option value="pas-de-produit" class='fs-3 fw-normal'>pas de produit</option>
							</select>
						</div>
			<div class="m-3">
				<div class="form-group">
					<label for="quantite-form-litige">
						<span class='fs-3 fw-normal text-warning'>Quantité</span>
					</label>
					<input type="number" min="1" class="form-control fs-3 fw-normal border-dark border-2" id="quantite-form-litige" placeholder="1" name="quantite-form-litige[]" required value="1"/>
				</div>
			</div>
        <div class='my-5 d-flex justify-content-center'>
            <button type="button" class="btn btn-outline-warning border-2 rounded-5" onclick="supprimerProduit(event)">
                <span class='fs-3 fw-normal'>Supprimer</span>
            </button>
        </div>
    </div>    
    `;

// Ajoutez le conteneur au formulaire
let formulaire = document.getElementById('ajoutProduit');
formulaire.appendChild(container);
compteur--;
}

function supprimerProduit(event) { // Récupérer l'élément parent du bouton sur lequel on a cliqué
var produitElement = event.target.closest('.border');

// Supprimer l'élément parent
produitElement.remove();
}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>
	<script type="text/javascript">
		function load_quagga(idInput) {
if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
Quagga.init({
inputStream: {
name: "Live",
type: "LiveStream",
target: document.querySelector('#scan_' + idInput)
},
decoder: {
readers: ["ean_reader"]
}
}, function (err) {
if (err) {
console.log(err);
return
}
console.log("Initialization finished. Ready to start");
Quagga.start();
});
Quagga.onDetected(function (data) {
document.querySelector('#id-form-litige_' + idInput).value = data.codeResult.code;
Quagga.stop();
});
}
}
function load_quagga_on_add_product(compteur) {
if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
Quagga.init({
inputStream: {
name: "Live",
type: "LiveStream",
target: document.querySelector('#scan_' + compteur)
},
decoder: {
readers: ["ean_reader"]
}
}, function (err) {
if (err) {
console.log(err);
return
}
console.log("Initialization finished. Ready to start");
Quagga.start();
});
Quagga.onDetected(function (data) {
document.querySelector('#id-form-litige_' + compteur).value = data.codeResult.code;
Quagga.stop();
});
}
}

function removeMessage() {
var eltMessage = document.querySelector('#message')
eltMessage.remove()
}

async function openCamera(nbVideo) {
const video = document.getElementById('video' + nbVideo);

try {
const stream = await navigator.mediaDevices.getUserMedia({video: true});
video.srcObject = stream;
video.play();
} catch (error) {
console.error('Error accessing the camera: ', error);
}
}

function closeCamera(nbClose) {
const video = document.getElementById('video' + nbClose);
const stream = video.srcObject;
const tracks = stream.getTracks();

tracks.forEach(track => {
track.stop();
});

video.srcObject = null;
}

async function takePhoto(nbPhoto) {
const video = document.getElementById('video' + nbPhoto);
const canvas = document.getElementById('canvas' + nbPhoto);
const context = canvas.getContext('2d');

try {
const stream = await navigator.mediaDevices.getUserMedia({video: true});
video.srcObject = stream;

video.onloadedmetadata = () => {
video.play();
};

// document.body.appendChild(video);

setTimeout(async () => {
context.drawImage(video, 0, 0, canvas.width, canvas.height);
const photo = canvas.toDataURL('image/png');

// Insérer l'image capturée dans l'input file
const photoInput = document.getElementById('photoInput' + nbPhoto);
const blob = await dataURItoBlob(photo);
const file = new File([blob], "photo_bordereau_" + Date.now() + ".png", {type: "image/png"});

// Créer une nouvelle liste de fichiers contenant le fichier capturé
const fileList = new DataTransfer();
fileList.items.add(file);

// Affecter la liste de fichiers à l'input file
photoInput.files = fileList.files;
if (fileList.files.length > 0) { // Obtenez l'URL du premier fichier dans la liste
var imageUrl = URL.createObjectURL(fileList.files[0]);

// Sélectionnez l'élément img avec l'ID "photo-bordereau"
var voirPhoto = document.getElementById('photo-bordereau' + nbPhoto);

// Définissez l'attribut src de l'image avec l'URL de l'image
voirPhoto.src = imageUrl;
}

if (voirPhoto.src.trim() !== "") { // Affichez l'image en changeant le style
voirPhoto.style.display = "block";
}

video.srcObject = stream;
// document.body.appendChild(video);
// video.parentNode.removeChild(video);

// Vous pouvez ensuite envoyer la photo à un serveur ou la manipuler dans votre application.
}, 100); // Vous pouvez ajuster ce délai selon vos besoins pour capturer la photo au bon moment.
} catch (error) {
console.error('Error accessing the camera: ', error);
}
}

// Convertir les données de l'URL en objet Blob
function dataURItoBlob(dataURI) {
return new Promise((resolve) => {
const byteString = atob(dataURI.split(',')[1]);
const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
const ab = new ArrayBuffer(byteString.length);
const ia = new Uint8Array(ab);
for (let i = 0; i < byteString.length; i++) {
ia[i] = byteString.charCodeAt(i);
}
const blob = new Blob([ab], {type: mimeString});
resolve(blob);
});
}
	</script>
{% endblock %}
