{% extends 'base.html.twig' %}

{% block title %}Creation palette
{% endblock %}

{% block body %}
	<h1 class="text-white my-5 mx-2 fs-1 fw-bold text-center">Création d'une palette</h1>
	<div class='border rounded-3 border-warning border-2 m-3'>
		<form method="get" action="{{ path('app_creation_palette') }}">
			<h2 class="text-white my-5 fs-1 fw-bold text-center">Palette en cours</h2>
			<div class="m-3">
				<label for="choix-couleur-palette" class="form-label">
					<span class='fs-1 fw-bold text-warning' id="choix-palette">Choix couleur palette</span>
				</label>
				<select class="form-select w-75 fs-1 fw-bold border-warning border-2" id="choix-couleur-palette" name="choix-couleur-palette" required>
					<option value="" class='fs-1 fw-bold'>choisir</option>
					<option value="vert" class='fs-1 fw-bold'>vert</option>
					<option value="jaune" class='fs-1 fw-bold'>jaune</option>
					<option value="orange" class='fs-1 fw-bold'>orange</option>
					<option value="rouge" class='fs-1 fw-bold'>rouge</option>
					<option value="noir" class='fs-1 fw-bold'>noir</option>
				</select>
			</div>
			<div class="m-3">
				<label for="choix-depot-palette" class="form-label">
					<span class='fs-1 fw-bold text-warning'>Choix Depot</span>
				</label>
				<select class="form-select w-75 fs-1 fw-bold border-warning border-2" id="choix-depot-palette" name="choix-depot-palette" required>
					<option value="" class='fs-1 fw-bold'>choisir</option>
					<option value="aberial" class='fs-1 fw-bold'>Abérial</option>
					<option value="phylea" class='fs-1 fw-bold'>Phyléa</option>
				</select>
			</div>
			<div class='my-5 d-flex justify-content-center'>
				<button type="submit" class="btn btn-outline-warning border-2 rounded-5">
					<span class='fs-2 fw-bold p-2'>Créer palette</span>
				</button>
			</div>
		</form>
		<div>
			{% if produitsSelectionnes %}
				{% for key, produit in produitsSelectionnes %}
					<form class='border rounded-3 border-warning border-2 m-3' method="get" action="{{ path('app_creation_palette') }}">
						<p class="text-white fs-2 text-center">
							qte :
							{{ produit.qte }}
							- produit :
							{{ produit.idprod }}
							- type :
							{{ produit.type }}
						</p>
						<div class='my-2 d-flex justify-content-center'>
							<input type="hidden" value="{{ produit.qte }}" name="produit-qte"/>
							<input type="hidden" value="{{ produit.prod }}" name="produit-prod"/>
							<input type="hidden" value="{{ produit.idprod }}" name="produit-id-prod"/>
							<input type="hidden" value="{{ produit.type }}" name="produit-type"/>
							<button type="submit" class="btn btn-outline-warning border-2 rounded-5">
								<span class='fs-2 fw-bold p-2'>supprimer</span>
							</button>
						</div>
					</form>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class='border rounded-3 border-primary border-2 m-3'>
		<h3 class="text-white my-5 fs-1 fw-bold text-center">Rechercher des produits</h3>
		<form method="get" action="{{ path('app_creation_palette') }}">
			<div class="m-3">
				<label for="recherche-creation-code-couleur" class="form-label">
					<span class='fs-1 fw-bold text-primary'>Code couleur</span>
				</label>
				<select class="form-select w-75 fs-1 fw-bold border-primary border-2" id="recherche-creation-code-couleur" name="recherche-creation-code-couleur">
					<option value="" class='fs-1 fw-bold'>choisir</option>
					<option value="vert" class='fs-1 fw-bold'>vert</option>
					<option value="jaune" class='fs-1 fw-bold'>jaune</option>
					<option value="orange" class='fs-1 fw-bold'>orange</option>
					<option value="rouge" class='fs-1 fw-bold'>rouge</option>
					<option value="noir" class='fs-1 fw-bold'>noir</option>
				</select>
			</div>
			<div class="m-3">
				<label for="recherche-creation-id-produit" class="form-label">
					<span class='fs-1 fw-bold text-primary'>ID produit</span>
				</label>
				<input type="text" class="form-control fs-1 fw-bold border-primary border-2" id="recherche-creation-id-produit" name="recherche-creation-id-produit">
			</div>
			<div class='my-5 d-flex justify-content-center'>
				<button type="submit" class="btn btn-outline-primary border-3 rounded-5">
					<span class='fs-2 fw-bold p-2'>Rechercher</span>
				</button>
			</div>
		</form>
	</div>
	<h4 class="text-white my-5 fs-1 fw-bold text-center">Résultats recherche</h4>
	<div class="d-flex justify-content-center mb-5">
		<div class="d-flex flex-column">
			{% for stockProduitsReceptionne in stockProduitsReceptionnes %}
				{% if stockProduitsReceptionne.codecouleur == 'vert' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsReceptionne.id }}">
									<span class='fs-1 fw-normal text-white ms-1'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsReceptionne.id }}" onchange='selectMaxQteReceptionne({{ stockProduitsReceptionne.quantite }}, {{ stockProduitsReceptionne.id }})'>
							</div>
						</div>
						<div>
							<p class='fs-3 fw-bold p-2 text-center' style="background-color: green; color: black;">
								{{ stockProduitsReceptionne.idproduit }}
								*
								{{ stockProduitsReceptionne.quantite }}</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsReceptionne.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-receptionne" id="inputQte_receptionne_{{ stockProduitsReceptionne.id }}"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.id }}" name="produit-palette-receptionne"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.idproduit }}" name="produit-id-palette-receptionne"/>
								<input type="hidden" value="réceptionné" name="produit-palette-receptionne-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
				{% if stockProduitsReceptionne.codecouleur == 'orange' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsReceptionne.id }}">
									<span class='fs-1 fw-normal text-white'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsReceptionne.id }}" onchange='selectMaxQteReceptionne({{ stockProduitsReceptionne.quantite }}, {{ stockProduitsReceptionne.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: orange; color: black;">
								{{ stockProduitsReceptionne.idproduit }}
								*
								{{ stockProduitsReceptionne.quantite }}</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsReceptionne.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-receptionne" id="inputQte_receptionne_{{ stockProduitsReceptionne.id }}"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.id }}" name="produit-palette-receptionne"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.idproduit }}" name="produit-id-palette-receptionne"/>
								<input type="hidden" value="réceptionné" name="produit-palette-receptionne-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
				{% if stockProduitsReceptionne.codecouleur == 'jaune' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsReceptionne.id }}">
									<span class='fs-1 fw-normal text-white'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsReceptionne.id }}" onchange='selectMaxQteReceptionne({{ stockProduitsReceptionne.quantite }}, {{ stockProduitsReceptionne.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: yellow; color: black;">
								{{ stockProduitsReceptionne.idproduit }}
								*
								{{ stockProduitsReceptionne.quantite }}</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsReceptionne.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-receptionne" id="inputQte_receptionne_{{ stockProduitsReceptionne.id }}"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.id }}" name="produit-palette-receptionne"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.idproduit }}" name="produit-id-palette-receptionne"/>
								<input type="hidden" value="réceptionné" name="produit-palette-receptionne-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
				{% if stockProduitsReceptionne.codecouleur == 'rouge' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsReceptionne.id }}">
									<span class='fs-1 fw-normal text-white'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsReceptionne.id }}" onchange='selectMaxQteReceptionne({{ stockProduitsReceptionne.quantite }}, {{ stockProduitsReceptionne.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: red; color: black;">
								{{ stockProduitsReceptionne.idproduit }}
								*
								{{ stockProduitsReceptionne.quantite }}</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsReceptionne.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-receptionne" id="inputQte_receptionne_{{ stockProduitsReceptionne.id }}"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.id }}" name="produit-palette-receptionne"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.idproduit }}" name="produit-id-palette-receptionne"/>
								<input type="hidden" value="réceptionné" name="produit-palette-receptionne-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
				{% if stockProduitsReceptionne.codecouleur == 'noir' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-0" for="CheckboxListe_{{ stockProduitsReceptionne.id }}">
									<span class='fs-1 fw-normal text-white m-1'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsReceptionne.id }}" onchange='selectMaxQteReceptionne({{ stockProduitsReceptionne.quantite }}, {{ stockProduitsReceptionne.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: black; color: white;">
								{{ stockProduitsReceptionne.idproduit }}
								*
								{{ stockProduitsReceptionne.quantite }}</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsReceptionne.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-receptionne" id="inputQte_receptionne_{{ stockProduitsReceptionne.id }}"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.id }}" name="produit-palette-receptionne"/>
								<input type="hidden" value="{{ stockProduitsReceptionne.idproduit }}" name="produit-id-palette-receptionne"/>
								<input type="hidden" value="réceptionné" name="produit-palette-receptionne-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
			{% endfor %}
			{% for stockProduitsLibre in stockProduitsLibres %}
				{% if stockProduitsLibre.codecouleur == 'vert' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsLibre.id }}">
									<span class='fs-1 fw-normal text-white'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsLibre.id }}" onchange='selectMaxQteLibre({{ stockProduitsLibre.quantite }}, {{ stockProduitsLibre.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: green; color: black;">
								{{ stockProduitsLibre.idproduit }}
								*
								{{ stockProduitsLibre.quantite }}
							</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsLibre.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-libre" id="inputQte_libre_{{ stockProduitsLibre.id }}"/>
								<input type="hidden" value="{{ stockProduitsLibre.id }}" name="produit-palette-libre"/>
								<input type="hidden" value="{{ stockProduitsLibre.idproduit }}" name="produit-id-palette-libre"/>
								<input type="hidden" value="libre" name="produit-palette-libre-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
				{% if stockProduitsLibre.codecouleur == 'orange' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsLibre.id }}">
									<span class='fs-1 fw-normal text-white'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsLibre.id }}" onchange='selectMaxQteLibre({{ stockProduitsLibre.quantite }}, {{ stockProduitsLibre.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: orange; color: black;">
								{{ stockProduitsLibre.idproduit }}
								*
								{{ stockProduitsLibre.quantite }}
							</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsLibre.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-libre" id="inputQte_libre_{{ stockProduitsLibre.id }}"/>
								<input type="hidden" value="{{ stockProduitsLibre.id }}" name="produit-palette-libre"/>
								<input type="hidden" value="{{ stockProduitsLibre.idproduit }}" name="produit-id-palette-libre"/>
								<input type="hidden" value="libre" name="produit-palette-libre-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
				{% if stockProduitsLibre.codecouleur == 'jaune' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsLibre.id }}">
									<span class='fs-1 fw-normal text-white'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsLibre.id }}" onchange='selectMaxQteLibre({{ stockProduitsLibre.quantite }}, {{ stockProduitsLibre.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: yellow; color: black;">
								{{ stockProduitsLibre.idproduit }}
								*
								{{ stockProduitsLibre.quantite }}</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsLibre.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-libre" id="inputQte_libre_{{ stockProduitsLibre.id }}"/>
								<input type="hidden" value="{{ stockProduitsLibre.id }}" name="produit-palette-libre"/>
								<input type="hidden" value="{{ stockProduitsLibre.idproduit }}" name="produit-id-palette-libre"/>
								<input type="hidden" value="libre" name="produit-palette-libre-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
				{% if stockProduitsLibre.codecouleur == 'rouge' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsLibre.id }}">
									<span class='fs-1 fw-normal text-white'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsLibre.id }}" onchange='selectMaxQteLibre({{ stockProduitsLibre.quantite }}, {{ stockProduitsLibre.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: red; color: black;">{{ stockProduitsLibre.idproduit }}*{{ stockProduitsLibre.quantite }}</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsLibre.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-libre" id="inputQte_libre_{{ stockProduitsLibre.id }}"/>
								<input type="hidden" value="{{ stockProduitsLibre.id }}" name="produit-palette-libre"/>
								<input type="hidden" value="{{ stockProduitsLibre.idproduit }}" name="produit-id-palette-libre"/>
								<input type="hidden" value="libre" name="produit-palette-libre-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
				{% if stockProduitsLibre.codecouleur == 'noir' %}
					<form class="d-flex flex-column border rounded-3 border-primary border-2 m-3" method="get" action="{{ path('app_creation_palette') }}">
						<div class="container p-0 m-0">
							<div class="form-check p-0 m-0">
								<label class="form-check-label m-1" for="CheckboxListe_{{ stockProduitsLibre.id }}">
									<span class='fs-1 fw-normal text-white'>qte max</span>
								</label>
								<input class="form-check-input border-primary border-4 p-3 m-1" type="checkbox" id="CheckboxListe_{{ stockProduitsLibre.id }}" onchange='selectMaxQteLibre({{ stockProduitsLibre.quantite }}, {{ stockProduitsLibre.id }})'>
							</div>
						</div>
                        <div>
							<p class='fs-2 fw-bold p-2 text-center' style="background-color: black; color: white;">{{ stockProduitsLibre.idproduit }}*{{ stockProduitsLibre.quantite }}</p>
						</div>
						<div class="d-flex flex-row">
							<div>
								<input type="number" min="1" max="{{ stockProduitsLibre.quantite }}" class="ms-1 mb-1 form-control fs-3 fw-bold border-primary border-2 w-50" name="quantite-produit-palette-libre" id="inputQte_libre_{{ stockProduitsLibre.id }}"/>
								<input type="hidden" value="{{ stockProduitsLibre.id }}" name="produit-palette-libre"/>
								<input type="hidden" value="{{ stockProduitsLibre.idproduit }}" name="produit-id-palette-libre"/>
								<input type="hidden" value="libre" name="produit-palette-libre-type"/>
							</div>
							<div>
								<button type="submit" class="btn btn-outline-primary border-3 rounded-5 me-1 mb-1">
									<span class='fs-3 fw-bold p-1'>Add</span>
								</button>
							</div>
						</div>
					</form>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript">
		function selectMaxQteReceptionne(qteMax, idInput) {
let inputElement = document.getElementById('inputQte_receptionne_'+idInput);
inputElement.value = qteMax;
}
function selectMaxQteLibre(qteMax, idInput) {
let inputElement = document.getElementById('inputQte_libre_'+idInput);
inputElement.value = qteMax;
}

	</script>
{% endblock %}
