{% extends 'base.html.twig' %}

{% block title %}Liste du Stock
{% endblock %}

{% block body %}
	{% set csrfTokenStock = csrf_token('form-stock') %}
	<h1 class="text-white my-5 fs-1 fw-normal text-center">Liste du stock</h1>
	<div class="border border-2 border-light rounded-3 mx-2 my-5">
		<h2 class="text-white my-5 fs-1 fw-bold text-center">Import du stock</h2>
		<a class='text-white m-3'>lien vers le modèle</a>
		<div class="form-group m-3">
			<div class="input-group">
				<div class="custom-file">
					<input type="file" class="form-control text-light" id="exampleFile" aria-describedby="fileHelp"/>
				</div>
				<p id="fileHelp" class="text-light">Format pris en charge csv.</p>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class='border rounded-3 border-warning border-2 mx-2 my-5 input-desktop'>
			<form method="get" action="{{ path('app_liste_stock') }}">
				<div class="form-group m-3">
					<label for="recherche-stock-code-couleur" class="form-label">
						<span class='fs-3 fw-normal text-warning'>Code couleur :</span>
					</label>
					<select class="form-select fs-3 fw-normal border-dark border-2" id="recherche-stock-code-couleur" name="recherche-stock-code-couleur">
						<option value="" class='fs-3 fw-normal'>choisir</option>
						<option value="vert" class='fs-3 fw-normal'>vert</option>
						<option value="jaune" class='fs-3 fw-normal'>jaune</option>
						<option value="orange" class='fs-3 fw-normal'>orange</option>
						<option value="rouge" class='fs-3 fw-normal'>rouge</option>
						<option value="noir" class='fs-3 fw-normal'>noir</option>
					</select>
				</div>
				<div class="form-group m-3">
					<label for="recherche-stock-id-produit" class="form-label">
						<span class='fs-3 fw-normal text-warning'>ID produit :</span>
					</label>
					<input type="text" class="form-control fs-3 fw-normal border-dark border-2" id="recherche-stock-id-produit" placeholder="ID" name="recherche-stock-id-produit">
				</div>
				<div class="form-group m-3">
					<label for="recherche-stock-date-reception" class="form-label">
						<span class='fs-3 fw-normal text-warning'>Date :</span>
					</label>
					<input type="date" name="recherche-stock-date-reception" class="form-control fs-3 fw-normal border-dark border-2" id="recherche-stock-date-reception"/>
				</div>
				<div class='d-flex justify-content-center mb-4'>
					<button type="submit" class="btn btn-outline-warning my-2 border-2 rounded-5">
						<span class='fs-2 fw-normal'>Rechercher</span>
					</button>
				</div>
				<input type="hidden" name="_token" value="{{ csrfTokenStock }}">
			</form>
		</div>
	</div>
	<h4 class="text-white my-5 fs-1 fw-normal text-center mx-1">Résultat de la recherche</h4>
	<div class="d-flex justify-content-center mb-5">
		<div>
			<div class="d-flex flex-column">
				{% for produitPalette in produitsPalettes %}
					<form method="get" action="{{ path('app_liste_stock') }}">
						<div class="card my-4 border-primary border-3 custom-width-desktop">
							<div class="card-body p-0 ps-2">
								<p class="card-text m-0">
									<span class='fs-3 fw-bold'>{{ produitPalette.idProduit }}
										*
										{{ produitPalette.quantite }}</span>
								</p>
								<p class="card-text m-0">
									<span class='fs-3 fw-bold'>{{ produitPalette.dateReception|date('d/m/Y H:i:s') }}</span>
								</p>
								<p class="card-text m-0">
									<span class='fs-3 fw-bold'>palette N°{{ produitPalette.getPalette() }}
										-
										{{ produitPalette.codeCouleur }}</span>
								</p>
								<p class="card-text m-0 fs-3">Modification palettes</p>
								{% for i in 1..produitPalette.quantite %}
									<div class="m-3">
										<label for="form-modif-palette_{{ i }}" class="form-label">
											<span class='fs-3 fw-normal'>Palette produit
												{{ i }}</span>
										</label>
										<select class="form-select w-100 fs-3 fw-normal border-dark border-3 rounded-3" id="form-modif-palette_{{ i }}" name="form-modif-palette_{{ i }}" required>
											<option value="{{ produitPalette.getPalette() }}" class='fs-3 fw-normal'>N°{{ produitPalette.getPalette() }}
												{{ produitPalette.codeCouleur }}</option>
											{% for palette in palettes %}
												<option value="{{ palette.id }}" class='fs-3 fw-normal'>N°{{ palette.id }}
													{{ palette.codeCouleur }}</option>
											{% endfor %}
										</select>
									</div>
								{% endfor %}
								<div class='d-flex justify-content-center mb-2'>
									<button type="submit" class="btn btn-outline-primary my-2 border-2 rounded-5">
										<span class='fs-3 fw-normal'>Modifier</span>
									</button>
								</div>
							</div>
						</div>
						<input type="hidden" value="{{ produitPalette.id }}" name="id-produit-form-modif-palette"/>
					</form>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
