{% extends 'base.html.twig' %}

{% block title %}Liste des réceptionnés
{% endblock %}

{% block body %}
{% set csrfTokenListeReceptionnes = csrf_token('form-liste-receptionnes') %}
	<h1 class="text-white my-5 mx-2 fs-1 fw-normal text-center">Liste des réceptionnés</h1>
	<form method="get" action="{{ path('app_liste_receptionnes') }}">
		<div class='border rounded-3 border-warning border-2 m-1'>
			<div class="m-3">
				<label for="recherche-numero-receptionnes" class="form-label">
					<span class='fs-1 fw-normal text-warning'>N° RET ou RETSA</span>
				</label>
				<input type="text" class="form-control fs-1 fw-normal border-dark border-2" id="recherche-numero-receptionnes" placeholder="entrez N°" name="recherche-numero-receptionnes">
			</div>
			<div class="m-3">
				<label for="recherche-id-receptionnes" class="form-label">
					<span class='fs-1 fw-normal text-warning'>ID produit</span>
				</label>
				<input type="text" class="form-control fs-1 fw-normal border-dark border-2" id="recherche-id-receptionnes" placeholder="entrez un ID" name="recherche-id-receptionnes">
			</div>
			<div class='d-flex justify-content-center my-4'>
				<button type="submit" class="btn btn-outline-warning border-2 rounded-5">
					<span class='fs-2 fw-normal p-2'>Recherche</span>
				</button>
			</div>
		</div>
        <input type="hidden" name="_token" value="{{ csrfTokenListeReceptionnes }}">
	</form>
	<h3 class="text-white my-5 fs-1 fw-bold text-center">Résultats recherche</h3>
	<div class="d-flex justify-content-center mx-5">
		<div>
			{% for retour in retours %}
				<div class="card my-3 border-primary border-3">
					<div class="card-body p-0 ps-2">
						{% if retourComplet[loop.index0] %}
							<p class="card-text m-0">
								<span class='fs-1 fw-bold text-success'>Complet</span>
							</p>
						{% else %}
							<p class="card-text m-0">
								<span class='fs-1 fw-bold text-danger'>Incomplet</span>
							</p>
						{% endif %}
						<p class="card-text m-0">
							<span class='fs-1 fw-bold'>{{ retour.numretour }}</span>
						</p>
						<p class="card-text m-0">
							<span class='fs-1 fw-bold'>{{ retour.nomclient }}
								{{ retour.prenomclient }}</span>
						</p>
						<p class="card-text m-0">
							<span class='fs-1 fw-bold'>{{ retour.transporteur }}</span>
						</p>
						{% if retourComplet[loop.index0] %}
							<p class="card-text m-0">
								<span class='fs-1 fw-bold text-success'>Réceptionnés</span>
							</p>
						{% else %}
							<p class="card-text m-0">
								<span class='fs-1 fw-bold text-danger'>Réceptionnés</span>
							</p>
						{% endif %}
						{% for retourProduitReceptionne in retour.retourProduitReceptionnes %}
							<p class="card-text m-0">
								<span class='fs-1 fw-bold'>{{ retourProduitReceptionne.idproduit }}
									*
									{{ retourProduitReceptionne.quantite }}</span>
							</p>
						{% endfor %}
						{% if retourComplet[loop.index0] %}
							<p class="card-text m-0">
								<span class='fs-1 fw-bold text-success'>Attendus</span>
							</p>
						{% else %}
							<p class="card-text m-0">
								<span class='fs-1 fw-bold text-danger'>Attendus</span>
							</p>
						{% endif %}
						{% for retourProduit in retour.retourProduits %}
							<p class="card-text m-0">
								<span class='fs-1 fw-bold'>{{ retourProduit.idproduit }}
									*
									{{ retourProduit.quantite }}</span>
							</p>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
